{{ partial "head.html" . }}
<div class="content container">
    <h1>Kevin Golding - An introduction</h1>
    <p>Hello! I'm a software and hardware developer/designer. I thought the best way to explain what I do is to talk
        a little about the projects I've worked on and the companies I'm involved with.</p>
    <p>I'm always in the market for new projects, especially joint ventures with long term revenue. Please contact me via
        <a href="https://www.linkedin.com/in/kevingolding" target="_blank">Linkedin</a> where possible, otherwise send
        an
        email to kgolding@&lt;this domain name&gt;.</p>
    <div class="posts">
        {{ $paginator := .Paginate .Data.Pages }}
        {{ range $paginator.Pages }}
        <div class="post">
            <h1 class="post-title">
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </h1>
            {{ if gt .Date 0}}<span class="post-date">{{ .Date.Format "Jan 2, 2006" }}{{ if not .Site.Params.hideReadingTime }} &middot;
            {{ .ReadingTime }} minute read{{ end }}{{ if .Site.DisqusShortname }} &middot; <a
                    href="{{ .Permalink }}#disqus_thread">Comments</a>{{ end }}
      {{ if isset .Params "categories" }}
      {{ range .Params.categories }}<a class="label" href="{{ "/categories/" | absURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
      {{ end }}</span>
            {{ end }}
            {{ if eq .Site.Params.truncate false }}
            {{ .Content }}
            {{ else if .Description }}
            <p>{{ .Description }}</p>
            <!--<a href="{{ .Permalink }}">Read On &rarr;</a>-->
            {{ else }}
            {{ .Summary }}
            <!--{{ if .Truncated }}<a href="{{ .Permalink }}">Read On &rarr;</a>{{ end }}-->
            {{ end }}
        </div>
        {{ end }}
        {{ template "_internal/pagination.html" . }}
    </div>
</div>

{{ with .Site.DisqusShortname }}
<script type="text/javascript">
    var disqus_shortname = {
    { .
    }
    }
    ;
    (function () {
        var s = document.createElement('script');
        s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
{{ end }}
{{ partial "foot.html" . }}
